<section>

<strong><%= areacode.city %>, <%= areacode.state %> (<%= areacode.code %>)</strong>
<div>Patologistas: <%= areacode.pathologists.count %></div>
<div>Patologistas por milhão de habitantes: <%= areacode.pathologists_by_million_people %></div>

</section>